<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
            <title>Home 🏡</title>
        <style>
            body {
                background-color: #e6ffe6;
                margin: 0 auto;
            }
            .red-button {
                background-color: red;
                color: white;
            }
            .green-button {
                background-color: green;
                color: white;
            }
        </style>
        <script>
            function changeLanguage() {
                var languageStrings = {};
                var buttonChangeLanguage = document.getElementById('language-toggle');
                var homeTitle = document.getElementById('home-title');
                var adminEditLinkText = document.getElementById('admin-edit-link');
                var logoutLinkText = document.getElementById('logout-link');
                var sendButton = document.getElementById('send-button');
                var deleteLinks = document.getElementsByClassName('delete-link');

                if (buttonChangeLanguage.textContent === 'Change Language') {
                    languageStrings = {
                        buttonChangeLanguage: 'Keisti kalbą',
                        homeTitle: 'Žinutės 🏡',
                        adminEditLinkText: 'Redaguoti ✏️',
                        logoutLinkText: 'Atsijungti 🔓',
                        sendButton: 'Siųsti',
                        deleteButton: 'Trinti'
                    };
                } else {
                    languageStrings = {
                        buttonChangeLanguage: 'Change Language',
                        homeTitle: 'Messages 🏡',
                        adminEditLinkText: 'Edit ✏️',
                        logoutLinkText: 'Logout 🔓',
                        sendButton: 'Send',
                        deleteButton: 'Delete'
                 };
                }
                buttonChangeLanguage.textContent = languageStrings.buttonChangeLanguage;
                homeTitle.textContent = languageStrings.homeTitle;
                adminEditLinkText.textContent = languageStrings.adminEditLinkText;
                logoutLinkText.textContent = languageStrings.logoutLinkText;
                sendButton.value = languageStrings.sendButton;

                for (var i = 0; i < deleteLinks.length; i++) {
                    deleteLinks[i].textContent = languageStrings.deleteButton;
                }
            }
        </script>
    </head>
    <body style="max-width: 450px; margin: 0 auto;">
    <h1 id="home-title">Messages 🏡</h1>
        <div>
            <div>
                <ul>
                    <li th:each="message : ${messages}">
                        <span th:text="${message.author}"></span>: <span th:text="${message.text}"></span>
                        <div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMIN')}">
                            <a class="red-button delete-link" style="text-decoration: none"
                                th:href="@{/delete-message(messageId=${message.id})}">Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
            <form th:action="@{/add-message}" method="post">
                <input type="text" name="messageText" placeholder="Enter your message" required/>
                <input class="green-button" id="send-button" type="submit" value="Send"/>
            </form>
            <p></p>
        </div>
        <div sec:authentication="principal.authorities"></div>
        <div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMIN')}">
            <a style="text-decoration: none" th:href="@{/AdminDirectory}" id="admin-edit-link">Edit ✏️</a>
        </div>
        <div>
            <a style="text-decoration: none" href="javascript: document.logoutForm.submit()"
               id="logout-link">Logout 🔓</a>
            <form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
             <input hidden type="submit" value="Logout"/>
            </form>
        </div>
            <p>
                <a id="language-toggle" href="javascript:void(0);" onclick="changeLanguage()">Change Language</a>
            </p>
    </body>
</html>